body {
  font-family: Arial, sans-serif;
  background-color: #c92323;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #9b9393;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.status-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.status {
  flex:content;
  padding: 28px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.status h2 {
  margin: 0;
  font-size: 18px;
}

.status-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 31%;
}

button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
.khusus-select {
  padding: -10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 10%;
}
.khusus {
  flex:content;
  padding: 31px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 15px;
}
.khusus h2 {
  margin: 0;
  font-size: 18px;

}

